name: CI testing workflow

on: 
  push:
    branches: [ "master" ]

  workflow_dispatch:
    inputs:
      confirmation:
        description: Confirm to run the workflow?
        required: true
        type: boolean
        default: false

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || inputs.confirmation == true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # - name: Build Docker Image
      #   run: docker build . -t shoun6000/testing-githubactions:shounlatest

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}


      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/testing-githubactions:shounlatest
          # cache-from: type=local,src=/tmp/.buildx-cache