name: CI testing workflow

on: 
  push:
    branches: [ "main" ]

  workflow_dispatch:
    inputs:
      confirmation:
        description: Confirm to run the workflow?
        required: true
        type: boolean
        default: false

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || inputs.confirmation == true

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build and Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v4
        with:
          image: shoun6000/testing-githubactions:shounsjob
          registry: docker.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
